<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/Site.css")
    @Styles.Render("~/Content/bootstrap.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div class="navbar navbar-default navbar-left navbar-fixed-top" id="AdminNav">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div id="AdminBrand">
                    <div class="row">
                        @*<img src="~/Content/Images/tom-cruise-images-1.jpg" id="Branding"/>*@
                        Tom Cruise
                    </div>
                </div>
            </div>
            <div class="navbar-collapse collapse" id="NavbarLeft">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("صفحه اصلی پنل", "Index", "Home", new { area = "Admin" }, new { @class = "BrandStyle0" })</li>
                    <li><a href="~/"><span class="glyphicon glyphicon-home"></span> صفحه وب سایت </a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-off"></span> خروج </a></li>
                </ul>
            </div>
        </div>
    </header>
    <section id="AdminSection">
        <div class="row">
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            @RenderBody()
        </div>
    </section>


    <aside id="AdminAside">
        <div>
            <br />
            <br />
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default x">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                گروه کالا
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <ul>
                                <li>@Html.ActionLink("مدیریت گروه کالا", "Index", "Category", new {area = "Admin"}, new {@class = "LinksClass"})</li>
                                <li>@Html.ActionLink("اسلایدشو گروه کالا", "Index", "CategorySlides", new {area = "Admin"}, new {@class = "LinksClass"})</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default x">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                کالا
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <ul>
                                @Html.Action("SelectCategory", "Product" , new { selectType=1 })
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default x">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                ویژگی کالا
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                            <ul>
                                @Html.Action("SelectCategory", "Product", new { selectType=2})
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default x">
                    <div class="panel-heading" role="tab" id="headingFour">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                مدیریت کاربران
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                        <div class="panel-body">
                            <ul>
                                <li>@Html.ActionLink("نمایش کاربران", "Index", "User", new {area = "Admin"}, new {@class = "LinksClass"})</li>
                                <li>@Html.ActionLink("افزودن کاربر جدید", "Create", "User", new {area = "Admin"}, new {@class = "LinksClass"})</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default x">
                    <div class="panel-heading" role="tab" id="headingFive">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="collapseFive">
                                @Html.ActionLink("تنظیمات","Edit","Setting")
                            </a>
                        </h4>
                    </div>
                </div>
            </div>

        </div>
    </aside>
    
    <footer>
        <p>&copy; @DateTime.Now.Year - Yucca</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>