@model IEnumerable<Yucca.Areas.Admin.ViewModels.Attribute.AttributeViewModel>
@{
    ViewBag.Title = "خصوصیات گروه  [" + ViewBag.CategoryName + "]";
    var postUrl = Url.Action("Delete", "Attribute");

}
@Html.AntiForgeryToken()
<div class="row">
    <div class="well">
        @Html.ActionLink("افزودن خصوصیات", "Add", "Attribute", new { categoryId = ViewBag.CategoryId }, new { @class = "btn  btn-success" })
        <a href="@Url.Action("Index","Category",null)" class="btn btn-primary">
            بازگشت
            <span class="glyphicon glyphicon-remove"></span>
        </a>
    </div>
</div>
<div class="row">
    <div class="table-responsive col-lg-12">
        <table class="table table-striped table-hover ListS">
            <tr>
                <th>
                    نام خصوصیت
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td class="text-left">

                        @Html.ActionLink("ویرایش", "Edit", "Attribute", new { id = item.Id }, new { @class = "btn btn-warning" })
                        @Html.ActionLink("حذف", "Delete", "Attribute", new { id = item.Id }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
