@{
    ViewBag.Title = "Index";
}
<br />
<br />
<div class="container body-content">
    <div class="container">
        <div class="row">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div><b>@ViewBag.Categories.Name</b></div>
                </div>
                <div class="panel-body">
                    @foreach (var prod in ViewBag.Categories.Products)
                    {
                        <div class="col-md-3">
                            <div class="thumbnail">
                                @foreach (var pic in ViewBag.Pictures)
                                {
                                    if (pic.ProductId == prod.Id)
                                    {
                                        <img src="@pic.ImagePath?w=220&h=180&mode=crop" class="lazyload" alt="@pic.ImageAltText" />
                                    }
                                }
                                <div class="caption">
                                    <p>نام : @prod.Name</p>
                                    <p>قیمت : @prod.Price تومان</p>

                                    <div class="btn-group btn-group-xs btn-block" role="group" aria-label="...">
                                        <button type="button" class="btn btn-success">@Html.ActionLink("افزودن به سبد خرید", "ShowShoppingCart", "ShoppingCart", new { productId = prod.Id }, null)</button>
                                        <button type="button" class="btn btn-success">@Html.ActionLink("اطلاعات بیشتر", "Index", "Product", new { productId = prod.Id }, null) </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

        </div>
    </div>
    <hr />
</div>

