@{
    ViewBag.Title = "Index";
    int j = 0;
}
<br />
<br/>
@if (ViewBag.Slide != null)
{
    <div class="row">
        <div class="col-md-8">
            <div class="carousel slide" id="carousel-290963">
                <ol class="carousel-indicators">
                    @for (int i = 0; i < ViewBag.SlideCount; i++)
                    {
                        if (i == 0)
                        {
                            <li class="active" data-slide-to=@i.ToString() data-target="#carousel-290963">
                            </li>
                        }
                        <li data-slide-to=@i.ToString() data-target="#carousel-290963">
                        </li>
                    }
                </ol>
                <div class="carousel-inner">
                    @foreach (var pic in ViewBag.Slide)
                    {
                        if (j == 0)
                        {
                            <div class="item active">
                                <img alt="@pic.ImageAltText" src="@pic.ImagePath"/>
                            </div>
                            j++;
                        }
                        <div class="item">
                            <img alt="@pic.ImageAltText" src="@pic.ImagePath" />
                        </div>
                    }
                </div>
                <a class="left carousel-control" href="#carousel-290963" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                <a class="right carousel-control" href="#carousel-290963" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
    </div>
}
<div class="container body-content">
    <div class="container">
        <div class="row">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div><b>@ViewBag.Categories.Name</b></div>
                </div>
                <div class="panel-body">
                    @foreach (var prod in ViewBag.Categories.Products)
                    {
                        <div class="col-md-3">
                            <div class="thumbnail">
                                @foreach (var pic in ViewBag.Pictures)
                                {
                                    if (pic.ProductId == prod.Id)
                                    {
                                        <img src="@pic.ImagePath?w=220&h=180&mode=crop" class="lazyload" alt="@pic.ImageAltText" />
                                    }
                                }
                                <div class="caption">
                                    <p>نام : @prod.Name</p>
                                    <p>قیمت : @prod.Price تومان</p>

                                    <div class="btn-group btn-group-xs btn-block" role="group" aria-label="...">
                                        <p type="button" class="btn btn-success">@Html.ActionLink("افزودن به سبد خرید", "ShowShoppingCart", "ShoppingCart", new { productId = prod.Id }, null)</p>
                                        <p type="button" class="btn btn-success">@Html.ActionLink("اطلاعات بیشتر", "Index", "Product", new { productId = prod.Id }, null) </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

        </div>
    </div>
    <hr />
</div>

