@using System.Diagnostics
@using Yucca.Models.Products

@{
    ViewBag.Title = "Home Page";
    var categories = ViewBag.Categories as List<Category>;
    var pictures = ViewBag.Pictures as List<ProductPicture>;
}
@Html.Partial("_MenuPartial")
<div class="container body-content">
    <div class="container">
        <br/>
        <br/>
        <div class="row">
            <div class="col-md-8">
                <div class="carousel slide" id="carousel-290963">
                    <ol class="carousel-indicators">
                        <li class="active" data-slide-to="0" data-target="#carousel-290963">
                        </li>
                        <li data-slide-to="1" data-target="#carousel-290963">
                        </li>
                        <li data-slide-to="2" data-target="#carousel-290963">
                        </li>
                        <li data-slide-to="3" data-target="#carousel-290963">
                        </li>
                        <li data-slide-to="4" data-target="#carousel-290963">
                        </li>
                        <li data-slide-to="5" data-target="#carousel-290963">
                        </li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <img alt="Carousel Bootstrap First" src="~/Content/new/apartment-exterior-balcony-garden-design-with-potted-flower-and-plant-also-black-iron-railing-also-brown-tile-flooring-also-modern-balcony-garden.jpg"/>
                        </div>
                        <div class="item">
                            <img alt="Carousel Bootstrap Second" src="~/Content/new/apartment-flower-12.jpg"/>
                        </div>
                        <div class="item">
                            <img alt="Carousel Bootstrap Third" src="~/Content/new/Contemporary-Small-Balcony-Garden-Design-with-vase-plants-and-flowers.jpg"/>
                        </div>
                        <div class="item">
                            <img alt="Carousel Bootstrap Forth" src="~/Content/new/gallery-1452185788-group-of-potted-cactus-1024x673.jpg"/>
                        </div>
                        <div class="item">
                            <img alt="Carousel Bootstrap Forth" src="~/Content/new/mai_vang_bonsai_2__HHJR.jpg"/>
                        </div>
                        <div class="item">
                            <img alt="Carousel Bootstrap Forth" src="~/Content/new/The-Most-Beautiful-And-Unique-Bonsai-Trees-In-The-World-homesthetics-27.jpg"/>
                        </div>
                    </div>
                    <a class="left carousel-control" href="#carousel-290963" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                    <a class="right carousel-control" href="#carousel-290963" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="~/Content/Images/thumbnail/Yucca.jpg" height="500" width="250"/>
                    <div class="caption">
                        <p>یوکا یکی از مشهورترین گیاهان آپارتمانی است، ساقه بلندی دارد که برگهای کشیده و سبزرنگش بر این ساقه استوارند. در نوعی یوکا که به یوکای خنجری معروف است برگها کشیده، بلند و نوک تیز و شبیه خنجرند. یوکاهایی که در خارج از آپارتمان نگهداری می شوند در بعضی از سالها گلهایی سفید و زنگوله ای می دهند.</p>

                        <p class="text-left">
                            
                            <a class="btn btn-success" href="~/Home/About">اطلاعات بیشتر</a>
                        </p>

                    </div>
                </div>
            </div>
        </div>

        <br/>
        <br/>
        <br/>
        @foreach (var cat in categories)
        {
            if (cat.ParentId != null&&cat.Products!=null)
            {
                <div class="row">
                    <div class="panel-group" id="accordion0">
                        <div class="panel panel-success">
                            <div class="panel-heading" id="Paneldefault1">
                                <a href="#myacc0" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion0">@cat.Name</a>
                            </div>
                            <div class="panel-collapse collapse in" id="myacc0">
                                <div class="panel-body">
                                    @foreach (var prod in cat.Products)
                                    {
                                        if (prod.CategoryId == cat.Id)
                                        {
                                            <div class="col-md-3">
                                                <div class="thumbnail">
                                                    @foreach (var pic in pictures)
                                                    {
                                                        if (pic.ProductId == prod.Id)
                                                        {
                                                            <img src=@pic.ImagePath/>
                                                        }
                                                    }
                                                    <div class="caption">
                                                        <p>نام : @prod.Name</p>
                                                        <p>قیمت : @prod.Price تومان</p>

                                                        <div class="btn-group btn-group-xs btn-block" role="group" aria-label="...">
                                                            <button type="button" class="btn btn-success">@Html.ActionLink("افزودن به سبد خرید", "ShowShoppingCart", "ShoppingCart", null)</button>
                                                            <button type="button" class="btn btn-success">@Html.ActionLink("اطلاعات بیشتر", "Index", "Product", new {productId = prod.Id},null) </button>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                    @Html.ActionLink("مشاهده محصولات این دسته", "Index", "Category", new { @class="LinksClass" })
                             
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    <hr/>
</div>