
@model IEnumerable<Yucca.Areas.Admin.ViewModels.Category.CategoryViewModel>
@Html.AntiForgeryToken()
<div class="row">
    <div class="table-responsive col-lg-12">
        <table class="table table-hover table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td class="text-left">
                       
                        @*<a class="btn btn-warning" href="@Url.Action("Edit","Category", new {id=item.Id })">
                            <span class="glyphicon glyphicon-edit"></span>
                            ویرایش
                        </a>
                        <a class="btn btn-danger" href="@Url.Action("Delete", "Category", new {id=item.Id })">
                            <span class="glyphicon glyphicon-remove-sign"></span>
                            حذف
                        </a>
                        <a class="btn btn-success" href="@Url.Action("Add", "Attribute", new {id=item.Id })">
                            <span class="glyphicon glyphicon-plus-sign"></span>
                            افزودن خصوصیت
                        </a>
                        <a class="btn btn-info" href="@Url.Action("Index", "Attribute", new {id=item.Id })">
                            <span class="glyphicon glyphicon-info-sign"></span>
                            خصوصیت های دسته
                        </a>*@

                        @Html.ActionLink("ویرایش", "Edit", "Category", new { id = item.Id }, new { @class = "btn btn-warning" })
                        @Html.ActionLink("حذف", "Delete", "Category", new { id = item.Id }, new { @class = "btn btn-danger" })
                        @Html.ActionLink("افزودن خصوصیات", "Add", "Attribute", new { categoryId = item.Id }, new { @class = "btn btn-success" })
                        @Html.ActionLink("خصوصیات", "Index", "Attribute", new { categoryId = item.Id }, new { @class = "btn btn-info" })
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
<script>
    Public.Routin();
</script>






